{% extends "styleguide/base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
	<link rel="stylesheet" href="{% static 'styleguide/css/index.css' %}">
{% endblock %}

{% block content %}
	{{ header_output }}

	<div class="background-container" style="background-image: url({% static 'images/mountain-range.jpg' %});">
		{{ head_super_output }}

		<div class="content-container container">
			<div class="content-container-border">
				<div class="content-container-inner">

					<h1>Styleguide for ISIMIP</h1>

					{{ header_meta }}
					{{ head_super_meta }}

					{{ messages }}

					{{ breadcrumb }}

					{{ heading1 }}
					<div class="row">
						<div class="col-sm-6">
							{{ heading2_meta }}
						</div>
						<div class="col-sm-6">
							{{ heading2_smtwolines_meta }}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							{{ heading2_output }}
							<p>Er hörte leise Schritte hinter sich. Das bedeutete nichts Gutes. Wer würde ihm schon folgen, spät in der Nacht und dazu noch in dieser engen Gasse mitten im übel beleumundeten Hafenviertel? Gerade jetzt, wo er das Ding seines Lebens gedreht hatte und mit der Beute verschwinden wollte!</p>
						</div>
						<div class="col-sm-6">
							{{ heading2_smtwolines_output }}
							<p>Er hörte leise Schritte hinter sich. Das bedeutete nichts Gutes. Wer würde ihm schon folgen, spät in der Nacht und dazu noch in dieser engen Gasse mitten im übel beleumundeten Hafenviertel? Gerade jetzt, wo er das Ding seines Lebens gedreht hatte und mit der Beute verschwinden wollte!</p>
						</div>
					</div>
					{{ heading2_link }}

					{{ heading3 }}
					{{ heading3_link }}
					{{ heading3_slug }}


					{{ columns_1_1 }}
					{{ columns_2_1 }}
					{{ columns_1_2 }}
					{{ columns_1_1_1 }}
					{{ columns_1_1_1_1 }}

					{{ image }}
					{{ image_link }}
					{{ arrow_right_link }}

					{{ richtext }}

					<h2>Abbreviation</h2>

					<p>This is an <abbr title="Abbreviation">abbr</abbr> you have to click on.</p>
					<p>This is a <abbr title="second">2nd</abbr> abbreviation you have to click on.</p>

					{{ embed }}

					<div class="row">
						<div class="col-sm-4">
							{{ page_teaser_text_output }}
						</div>
						<div class="col-sm-8">
							{{ page_teaser_text_meta }}
						</div>
					</div>


					<div class="row">
						<div class="col-sm-4">
							{{ page_teaser_output }}
						</div>
						<div class="col-sm-4">
							{{ page_teaser_noimage_output }}
						</div>
						<div class="col-sm-4">
							{{ page_teaser_notitle_noimage_externallink_output }}
						</div>
					</div>


					<div class="row">
						<div class="col-sm-3">
							{{ heading3a_output }}
							{{ page_teaser_notitle_extratext_output }}
						</div>
						<div class="col-sm-3">
							{{ heading3b_output }}
							{{ page_teaser_notitle_noimage_output }}
						</div>
						<div class="col-sm-3">
							{{ heading3c_output }}
							{{ page_teaser_notitle_noimage_norightlink_output }}
						</div>
						<div class="col-sm-3">
							{{ heading3d_output }}
							{{ page_teaser_notitle_noimage_textrightlink_output }}
						</div>
					</div>

					{{ page_teaser_wide_smallimage }}
					{{ page_teaser_wide }}
					{{ page_teaser_wide_wideimage }}



					<div class="row">
						<div class="col-sm-4">
							{{ page_teaser_paper_output }}
						</div>
						<div class="col-sm-8">
							{{ page_teaser_paper_meta }}
						</div>
					</div>



					<div class="row">
						<div class="col-sm-4">
							{{ indicator_output }}
						</div>
						<div class="col-sm-8">
							{{ indicator_meta }}
						</div>
					</div>

					{{ page_teaser_flat }}
					{{ page_teaser_flat_nodescription }}

					{{ readmorelink }}
					{{ readmorelink_right }}
					{{ readmorelink_rightarrow }}
					{{ readmorelink_download }}

					{{ horizontal_ruler }}
					{{ horizontal_ruler_light }}

					{{ button }}
					{{ button_primary }}
					{{ button_secondary }}

					{{ download_link }}
					{{ download_link_longtext }}
					{{ download_link_monstertext }}
					{{ download_link_noicon }}
					{{ link_list }}

					{{ pagination_standalone }}
					{{ pagination }}

					{{ table }}
					{{ table_limit }}
					{{ table_pagination }}

					{{ table_selector }}
					{{ table_pagination_filter }}
					{{ button_tableexport }}


					{{ expandable }}
					{{ expandable_light }}

					<h2>Form</h2>
					{{ textinput }}
					{{ textinput_small }}
					{{ textinput_helptext }}
					{{ textinput_error }}
					{{ textinput_readonly }}
					{{ textinput_email }}
					{{ textarea }}
					{{ textarea_small }}
					{{ textarea_error }}

					{{ nullboolean }}
					{{ nullboolean_error }}
					{{ nullboolean_nonull }}
					{{ multiselect }}
					{{ multiselect_full }}
					{{ singleselect }}
					{{ singleselect_nullable }}
					{{ singleselect_error }}

					{{ paper_editor_main }}
					{{ paper_editor_other }}


					<h3>Mail-Adressen-Test</h3>
					<a href="#" class="mail-secret">matxthiasexam@ple.com</a>

					<h3>Ein Test</h3>
					<p>Hier sind mal einige Elemente zusammen um zu sehen, wie das wirkt.</p>
					{{ textinput_output }}
					{{ textarea_output }}
					{{ multiselect_output }}


					{{ twitter }}
					{{ twitter_empty }}
					<br><br>

					{{ footer_meta }}

				</div><!-- content-container-inner -->
			</div><!-- content-container-border -->
		</div><!-- container content-container -->

		<br>
		<br>

	</div><!-- background-container -->

	{{ footer_output }}


{% endblock %}

{% block javascript %}
{{ block.super }}
	<script src="{% static 'styleguide/js/index.js' %}"></script>
{% endblock %}
