{% extends "styleguide/base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
	<link rel="stylesheet" href="{% static 'styleguide/css/index.css' %}">
{% endblock %}

{% block content %}
	<div class="container">
		<h1>Styleguide for ISI-MIP</h1>
	</div>
	{{ header }}

	<div class="content-container">
		<div class="container">
			{{ messages }}
		</div><!-- container -->
	</div><!-- content-container -->
	{{ footer }}


{% endblock %}

{% block javascript %}
{{ block.super }}
	<script src="{% static 'styleguide/js/index.js' %}"></script>
{% endblock %}
