{% extends 'pages/default_page.html' %}
{% load template_form %}

{% block title %}Reset Password{% endblock %}

{% block content %}
	<h1>Reset Password</h1>
	<p>Enter the email address associated with your account, and we’ll email you a link to reset your password.</p>
	<form method="post">
		{% csrf_token %}
		{% template_form form as nf %}
		{{ nf.email }}
		<div class="form-actions">
			<input type="submit" name="submit" value="Send reset link" class="btn btn-primary">
		</div>
 	</form>
{% endblock %}