{% extends 'pages/default_page.html' %}
{% load template_form %}

{% block title %}Reset Password{% endblock %}

{% block content %}
	{% if validlink %}
		<h1>Change password</h1>
		<form method="post">
			{% csrf_token %}
			{% template_form form as nf %}
			{{ nf.password1 }}
			{{ nf.password2 }}
			{{ form.as_p }}
			<div class="form-actions">
				<input type="submit" name="submit" value="Change password" class="btn btn-primary">
			</div>
		</form>
	{% else %}
		<p>
		The password reset link was invalid, possibly because it has already been used.
		Please request a new password reset.
		</p>
	{% endif %}
{% endblock %}