# Copy this file to ".env" and enter your local settings.

POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=y4y_6e8lram^f+gs-lsj#%2qqb94cv)!^+m*(s=n0lcnul2ufd
DJANGO_ALLOWED_HOSTS=.ms-wissenschaft.de
DJANGO_SERVER_EMAIL=
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SENTRY_DSN=
