


@font-face {
	font-family: 'OpenSansEmoji';
	src: url('../fonts/OpenSansEmoji.eot');
	src: url('../fonts/OpenSansEmoji.woff') format('woff'), url('../fonts/OpenSansEmoji.ttf') format('truetype'), url('../fonts/OpenSansEmoji.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


h1 {
	text-align: center;
}
#timeline {
	max-width: 900px;
	margin: 0 auto;
}

.twitter-timeline {
	font-family: "OpenSansEmoji", serif;
	font-size: 14px;
	line-height: 1.3em;
}
.twitter-timeline a {
	text-decoration: none;
}




.twitter-timeline .twitter-timeline-update {
	border: 1px solid #aaa;
	padding: 15px;
	margin-bottom: 15px;
}

.twitter-timeline .twitter-timeline-useravatar {
	float: left;
	width: 48px;
	height: 48px;
	display: block;
}


.twitter-timeline .twitter-timeline-meta {
	margin-left: 63px;
	margin-bottom: 5px;
	color: #777;
}

.twitter-timeline .twitter-timeline-username {
	color: black;
}


.twitter-timeline .twitter-timeline-screenname {
	color: inherit;
	font-size: 90%;
}

.twitter-timeline .twitter-timeline-time {
	color: inherit;
	font-size: 90%;
}

.twitter-timeline .twitter-timeline-text {
	margin-left: 63px;
	font-size: 110%;
	margin-bottom: 10px;
	word-wrap: break-word;
}


.twitter-timeline .twitter-timeline-media {
	margin-left: 63px;
}

.twitter-timeline .twitter-timeline-imagecontainer {
	max-width: 400px;
	margin: 0 auto;
}
.twitter-timeline .twitter-timeline-imagecontainer img {
	display: block;
	max-width: 100%;
	max-height: 400px;
}


.twitter-timeline .twitter-timeline-quote {
	margin-left: 63px;
	border: 1px solid #777;
	padding: 15px;
	word-wrap: break-word;
}
