{% extends "pages/default_page.html" %}

{% block content %}
	{{ page.description |default:'' | safe }}
    <div class="row">
        {% for entry in entries %}
            <div class="col-sm-3">
                {% include "widgets/page-teaser.html" with date=entry.date image=entry.image href=entry.href text=entry.text title=entry.title description=entry.description arrow_right_link=True magicgrow=True%}
            </div>
            {% cycle '' '' '' '</div><div class="widget-horizontal-ruler"><hr></div><div class="row">' %}
        {% endfor %}
    </div>

{% endblock %}