{% extends "base.html" %}
{% load static header footer breadcrumb %}

{% block header %}
    {% header %}
{% endblock %}

{% block content_container %}
    <div class="background-container">
        <div class="content-container container">
            <div class="content-container-border">
                <div class="content-container-inner">
                    {% breadcrumb %}
                    {% include 'widgets/heading1.html' with text=page.title %}
                    {% block content %}
                        {{ page.content }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% footer %}
{% endblock %}
