{% extends "pages/default_page.html" %}
{% load wagtailcore_tags template_form %}

{% block content %}
    <div class="form-page-bottom-content">{{ page.top_content }}</div>
	<br>
    <div class="form-page-form">
        <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}
            {% template_form form as nf %}
	        {{ nf }}
	        <br>
            <input type="submit" class="btn btn-secondary" value="{{ page.button_name }}">
        </form>
    </div>
	<br>
	<br>
    <div class="form-page-bottom-content">{{ page.bottom_content }}</div>
{% endblock %}
