{% extends "base.html" %}
{% load static header footer %}

{% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />{% endblock %}


{% block header %}
	{% header %}
{% endblock %}

{% block content %}
	<div class="backgroundimage" style="background-image: url({% static 'images/mountain-range.jpg' %});">
         {% include 'widgets/head-super.html' with title=teaser.title text=teaser.text button=teaser.button %}

		<div class="content-container">
			<div class="container" style="background-color: white;">
				<div class="content-container-border">
					<div class="content-container-inner">
                        {{ page.content }}
					</div>
				</div>
			</div>
		</div>

		<br>
		<br>
	</div>
{% endblock %}

{% block footer %}
{% footer %}
{% endblock %}
