{% extends 'base.html' %}

{% block content %}
    <div class="backgroundimage">
		<div class="content-container">
			<div class="container" style="background-color: white;">
				<div class="content-container-border">
					<div class="content-container-inner">
                        {% include 'widgets/heading1.html' with text='Impact Models' %}
					    <br>
					    <br>
					    <br>
                        {{ page.content }}
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
	</div>
{% endblock %}