{% extends "base.html" %}
{% load static header footer breadcrumb wagtailcore_tags %}

{% block header %}
	{% header %}

{% endblock %}

{% block content_container %}
	<div class="container scrollable-container search-results-page">
		<br>
		{% breadcrumb %}
		{% if search_query %}
			<h1>Search results for: {{ search_query }}</h1>
		{% else %}
			<h1>No search query</h1>
			<p>Please type something into the search box:</p>
		{% endif %}
		<div class="search-input">
			<form action="/search/" method="get">
				<div class="input-group large">
					<input type="text" class="form-control" name="query" {% if search_query %} value="{{ search_query }}"{% endif%} placeholder="Search">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
					</span>
				</div><!-- /input-group -->
			</form>
		</div>
		<br>
		{% block content %}
		{% if search_query %}
			<h3>Pages <small>({{ page_results|length }})</small></h3>
			<ul class="search-results">
				{% for result in page_results %}
					<li>
						<h4><a href="{% pageurl result %}?query={{ search_query }}">{{ result }}</a></h4>
						{% if result.search_description %}
							<p>{{ result.search_description|safe }}</p>
						{% endif %}
						<small><i class="fa fa-folder-o" aria-hidden="true"></i> {% for ancestor in result.get_ancestors %}{% if forloop.counter > 1 %}{{ ancestor }}{% if not forloop.last %} > {% endif %}{% endif %}{% endfor %}{% if result.get_ancestors %} > {% endif %}{{ result }}&nbsp;&nbsp;&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i> {{ result.latest_revision_created_at|date:"Y-m-d" }}</small>
					</li>
				{% empty %}
					<p>Sorry, no pages found.</p>
				{% endfor %}
			</ul>
			<h3>Impact models <small>({{ model_results|length }})</small></h3>
			<ul class="search-results">
				{% for result in model_results %}
					<li>
						<h4><a href="{% pageurl result %}?query={{ search_query }}">{{ result }}</a></h4>
						{% if result.short_description %}<p>{{ result.short_description|truncatewords:60 }}</p>{% endif %}
					</li>
				{% empty %}
					<p>Sorry, no impact models found.</p>
				{% endfor %}
				</ul>
		{% endif %}
		{% endblock %}
	</div>
{% endblock %}

{% block footer %}
	{% footer %}
{% endblock %}
