{% load wagtailcore_tags wagtailimages_tags %}
<div class="col-sm-{{ outter_col }}">
    {% include 'widgets/heading2.html' with text=title %}
    <div class="row">
        {% for entry in entries %}
            <div class="col-sm-{{ inner_col }}">
                {% include 'widgets/page-teaser.html' with image=entry.image href=entry.href description=entry.description title=entry.title arrow_right_link=entry.arrow_right_link %}
            </div>
        {% endfor %}
    </div>
    {% include 'widgets/read-more-link.html' with align='right' text='See all' url=slug %}
</div>