<div class="seeallblock">
	<div class="row">
		{% for paper in value.papers %}
			<div class="col-sm-3" {% if forloop.counter > value.see_all_offset %} style="display:none;"{% endif %}>
				{{ paper }}
			</div>
			{% cycle '' '' '' '<div class="clearfix"></div>' %}
		{% endfor %}
	</div>
	{% if value.papers|length > value.see_all_offset %}
		{% include "widgets/read-more-link.html" with align='right' arrow=True text='See all' url="#"%}
	{% endif %}
	{% include 'widgets/horizontal-ruler.html' %}
</div>