{% extends "admin/base_site.html" %}
{% load i18n static  %}

{% block extrahead %}{{ block.super }}
	<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
	{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-invitation model-invitation change-form{% endblock %}

{% if not is_popup %}
	{% block breadcrumbs %}
		<div class="breadcrumbs">
			<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
			&rsaquo; <a href="{% url 'admin:app_list' app_label='auth' %}">Authentication and Authorization</a>
			&rsaquo; Register User
		</div>
	{% endblock %}
{% endif %}

{% block content_title %}
	<h1>Assign or create Impact Model for {{ owner }}</h1>
{% endblock %}

{% block content %}
	<div id="content-main">
		<form action="{{ form_url }}" method="post" id="registration_form" novalidate>
			{% csrf_token %}
			<p>{{ form.model.label }}: {{ form.model }}</p>

			<div class="tohide">OR: <p>{{ form.name.label }}: {{ form.name }} &nbsp;{{ form.sector.label }}: {{ form.sector }}</p></div>
			<input type="submit" value="Save">
		</form>
	</div>
	<script src="{% static 'vendor/js/jquery-2.2.1.min.js' %}"></script>
	<script>
		$(function() {
			$("#id_model").change(function() {
				if ($(this).find(":selected").val())
					$(".tohide").hide();
				else
					$(".tohide").show();
			}).change();
		});
	</script>
{% endblock %}
