{% extends 'climatemodels/edit.html' %}
{% load template_form %}

{% block content %}
	<form method="POST">
		{% block form_content %}
			{% template_form form as nf %}
			<fieldset>
				{% include 'widgets/heading3.html' with text='Basic Information' %}
				{{ nf.name }}
				{{ nf.sector }}
				{{ nf.region }}
				{{ nf.short_description }}
			</fieldset>
		{% endblock %}
		{% csrf_token %}
		<div class="form-actions">
			<input type="submit" name="submit" value="Save" class="btn btn-secondary" id="submit-save">
			<input type="submit" name="continue" value="Save and edit detail information" class="btn btn-default">
		</div>
	</form>
{% endblock %}
