{% extends 'pages/default_page.html' %}
{% load breadcrumb %}
{% block content_container %}
	<div class="container scrollable-container">
		<br>
		{% breadcrumb %}
		{% include 'widgets/heading1.html' with text=subpage.title %}
		{% block content %}
			{{ description | safe }}<br/><br/>
			<dl class="dl-horizontal base-model">
			{% for listitem in base_model %}
					{% for definition in listitem.definitions %}
						<dt>{{ definition.key|safe }}</dt>
						<dd>{{ definition.value|safe }}</dd>
					{% endfor %}
			{% endfor %}
			</dl>
			<div class="widget-richtext-content">
				<p>Information for the model {{ model_name }} is provided for the simulation rounds shown in the tabs below. Click on the appropriate tab to get the information for the simulation round you are interested in.</p>
			</div>
			<!-- Nav tabs -->
			<div id="impact-model-tabs">
				<ul class="nav nav-pills" role="tablist">
				{% for sr in model_simulation_rounds %}
					<li role="presentation" class="{% if forloop.first %}active{% endif %}"><a href="#{{ sr.simulation_round_slug }}" aria-controls="{{ sr.simulation_round_slug }}" role="tab" data-toggle="tab">{{ sr.simulation_round }}</a></li>
				{% endfor %}
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
				{% for sr in model_simulation_rounds %}
					<div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ sr.simulation_round_slug }}">
						{% include "widgets/expandable.html" with list=sr.details editlink=sr.edit_link confirmlink=sr.confirm_data_link %}
					</div>
				{% endfor %}
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}
