{% extends 'climatemodels/edit_base.html' %}
{% load template_form %}
{% block form_content %}
	{% template_form form as nf %}
	<fieldset>
		{% include 'widgets/heading3.html' with text='Detail Information' %}
		{{ nf.version }}
		{{ nf.responsible_person }}
		{{ nf.main_reference_paper }}
		{{ nf.other_references }}
	</fieldset>
{% endblock %}
{% block form_action %}
<div class="form-actions">
	<input type="submit" name="submit-button" value="Save and edit technical information" class="btn btn-primary">
</div>
{% endblock %}
