{% extends 'pages/default_page.html' %}
{% load breadcrumb template_form %}
{% block content_container %}
	<div class="container scrollable-container">
		<div data-spy="affix" data-offset-top="90" class="form-sidebar hidden-xs">
		<ul class="list-unstyled">
			{% for step in steps %}
				<li><a href="#{{ step.name }}" class="{% if step.is_active %}active{% elif step.is_next %}next{% endif %}">{% if step.is_active %}<i class="fa fa-chevron-left" aria-hidden="true"></i> {% endif %}{{ forloop.counter }}. {{ step.verbose_name }}</a></li>
			{% endfor %}
		</ul>
		</div>
		<br>
		{% breadcrumb %}
		{% block pagetitle %}
			{% include 'widgets/heading2.html' with text='Edit '|add:subpage.title %}
		{% endblock %}
		{% block content %}
			<form method="POST" id="edit-model-form">
				{% block form_content %}
					{% include 'widgets/heading3.html' with text='Base Information' %}
					{% include 'widgets/richtext-content.html' with content=page.common_attributes_text %}
					{% template_form form as nf %}
					{{ nf.name }}
					{{ nf.sector }}
					{{ nf.region }}
					<div class="form-group">
						<label class="control-label requiredField">Contact persons</label>
						<p class="help-block">
							Please note, you can only update your personal contact information by <a href="/dashboard/update-contact-information/">editing your user profile</a> in the dashboard. If you want to add a new contact person please <a href="mailto:info@isimip.org">write to us</a>.
						</p>
						{% for contact_person in contact_persons %}
							<dl class="dl-horizontal">
								<dt>Name</dt>
								<dd>{{contact_person.name}}</dd>
								<dt>Email</dt>
								<dd>{{contact_person.email}}</dd>
								<dt>Institute</dt>
								<dd>{{contact_person.institute}}</dd>
								<dt>Country</dt>
								<dd>{{contact_person.country}}</dd>
							</dl>
						{% endfor %}
					</div>
					{{ nf.short_description }}
				{% endblock %}
				{% csrf_token %}
				<input type="hidden" name="next" value=""/>
				{% block form_action %}
				<div class="form-actions">
					<input type="submit" name="submit-button" value="Save and edit model reference" class="btn btn-primary">
				</div>
				{% endblock %}
			</form>
		{% endblock %}
	</div>
{% endblock %}
