{% extends 'climatemodels/edit.html' %}
{% load template_form %}

{% block content %}
	<form method="POST">
		{% block form_content %}
			{% template_form form as nf %}
			<fieldset>
				{% include 'widgets/heading3.html' with text='Basic Information' %}
				{{ nf.name }}
				{{ nf.sector }}
				{{ nf.region }}
				{{ cform.management_form }}
				<div id="div_id_cperson0" class="form-group">
					<label class="control-label requiredField">
						Contact person<span class="asteriskField">*</span>
					</label>
					<div class="controls">
						<span class="major-tom-rapper">{{ cform.0 }}</span>
					</div>
				</div>
				<div id="div_id_cperson0" class="form-group">
					<label class="control-label requiredField">
						Optional second contact person
					</label>
					<div class="controls">
						<span class="major-tom-rapper">{{ cform.1 }}</span>
					</div>
				</div>
				{{ nf.simulation_round }}
				{{ nf.version }}
				{{ nf.main_reference_paper }}
				{{ nf.other_references }}
				{{ nf.short_description }}
			</fieldset>
			<fieldset>
				{% include 'widgets/heading3.html' with text='Technical Information' %}
				{{ nf.spatial_aggregation}}
				{{ nf.spatial_resolution}}
				{{ nf.temporal_resolution_climate}}
				{{ nf.temporal_resolution_co2}}
				{{ nf.temporal_resolution_land}}
				{{ nf.temporal_resolution_soil}}
			</fieldset>
			<fieldset>
				{% include 'widgets/heading3.html' with text='Input Data' %}
				{{ nf.climate_data_sets}}
				{{ nf.climate_variables}}
				{{ nf.socioeconomic_input_variables}}
				{{ nf.soil_dataset}}
				{{ nf.additional_input_data_sets}}
			</fieldset>
			<fieldset>
				{% include 'widgets/heading3.html' with text='Other' %}
				{{ nf.exceptions_to_protocol}}
				{{ nf.spin_up}}
				{{ nf.spin_up_design}}
				{{ nf.natural_vegetation_partition}}
				{{ nf.natural_vegetation_dynamics}}
				{{ nf.natural_vegetation_cover_dataset}}
				{{ nf.management}}
				{{ nf.extreme_events}}
				{{ nf.anything_else}}
				{{ nf.comments}}
			</fieldset>
		{% endblock %}
		{% csrf_token %}
		<div class="form-actions">
			<input type="submit" name="submit" value="Save" class="btn btn-secondary" id="submit-save">
			<input type="submit" name="continue" value="Save and edit details" class="btn btn-default">
		</div>
	</form>
{% endblock %}
