{% extends 'climatemodels/edit_sector.html' %}
{% load template_form %}

{% block form_content %}
	{% template_form form as nf %}
	<fieldset>
		{% include 'widgets/heading3.html' with text='Other' %}
		{% include 'widgets/richtext-content.html' with content='This information is specific to each simulation round.' %}
		{{ nf.exceptions_to_protocol}}
		{{ nf.spin_up}}
		{{ nf.spin_up_design}}
		{{ nf.natural_vegetation_partition}}
		{{ nf.natural_vegetation_dynamics}}
		{{ nf.natural_vegetation_cover_dataset}}
		{{ nf.management}}
		{{ nf.extreme_events}}
		{{ nf.anything_else}}
		{{ nf.comments}}
	</fieldset>
{% endblock %}
{% block form_action %}
	<div class="form-actions">
		{% if has_sector_specific_values %}
			<input type="submit" name="submit-button" value="Save and edit sector-specific information" class="btn btn-primary">
		{% else %}
			<input type="submit" name="submit-button" value="Save" class="btn btn-primary">
		{% endif %}
	</div>
{% endblock %}