{% extends 'climatemodels/edit_base.html' %}
{% load template_form %}

{% block form_content %}
	{% template_form form as nf %}
	<fieldset>
		{% include 'widgets/heading3.html' with text='Input data sets used' %}
		{% include 'widgets/richtext-content.html' with content='This information is specific to each simulation round.' %}
		<p>Which of these input data sets did you use to drive your model simulations?</p>
		{{ nf.simulated_atmospheric_climate_data_sets }}
		{{ nf.observed_atmospheric_climate_data_sets  }}
		{{ nf.simulated_ocean_climate_data_sets }}
		{{ nf.observed_ocean_climate_data_sets }}
		{{ nf.emissions_data_sets }}
		{{ nf.socio_economic_data_sets }}
		{{ nf.land_use_data_sets }}
		{{ nf.other_human_influences_data_sets }}
		{{ nf.other_data_sets }}
		{{ nf.additional_input_data_sets}}
		{{ nf.climate_variables}}
		{{ nf.climate_variables_info}}
	</fieldset>
{% endblock %}
{% block form_action %}
	<div class="form-actions">
		<input type="submit" name="submit-button" value="Save and edit model setup" class="btn btn-primary">
	</div>
{% endblock %}
