{% extends 'climatemodels/edit_sector.html' %}
{% load template_form %}
{% load keyvalue %}

{% block form_content %}
	{% template_form form as nf %}
	{% include 'widgets/richtext-content.html' with content='This information is specific to each simulation round.' %}
	<fieldset>
		{% include 'widgets/heading3.html' with text='Model set-up specifications' %}
		{{ nf.initialize_model }}
		{{ nf.data_profound_db }}
		{{ nf.management_implementation }}
		{{ nf.harvesting_simulated }}
		{{ nf.regenerate }}
		{{ nf.unmanaged_simulations }}
		{{ nf.noco2_scenario }}
		{{ nf.leap_years }}
		{{ nf.simulate_minor_tree }}
		{{ nf.nitrogen_simulation }}
		{{ nf.soil_depth }}
		{{ nf.stochastic_element }}
		{{ nf.upload_parameter_list }}
	</fieldset>
	<fieldset>
		{% include 'widgets/heading3.html' with text='Key model processes' %}
		<p>Please provide yes/no and a short description how the process is included and it depends on temperature, light, co2, nutrient supply, drought stress and other factors.</p>
		{{ nf.dynamic_vegetation }}
		{{ nf.nitrogen_limitation }}
		{{ nf.co2_effects }}
		{{ nf.light_interception }}
		{{ nf.light_utilization }}
		{{ nf.phenology }}
		{{ nf.water_stress }}
		{{ nf.heat_stress }}
		{{ nf.evapotranspiration_approach }}
		{{ nf.rooting_depth_differences }}
		{{ nf.root_distribution }}
		{{ nf.closed_energy_balance }}
		{{ nf.soil_moisture_surface_temperature_coupling }}
		{{ nf.latent_heat }}
		{{ nf.sensible_heat }}
		{{ nf.assimilation }}
		{{ nf.respiration }}
		{{ nf.carbon_allocation }}
		{{ nf.regeneration_planting }}
		{{ nf.soil_water_balance }}
		{{ nf.carbon_nitrogen_balance }}
		{{ nf.feedbacks_considered }}
	</fieldset>
	<fieldset>
		{% include 'widgets/heading3.html' with text='Causes of mortality in vegetation models' %}
		<p>Describe briefly how the process is described in this model and in which way it is climate dependent.</p>
		{{ nf.mortality_age }}
		{{ nf.mortality_fire }}
		{{ nf.mortality_drought }}
		{{ nf.mortality_insects }}
		{{ nf.mortality_storm }}
		{{ nf.mortality_stochastic_random_disturbance }}
		{{ nf.mortality_other }}
		{{ nf.mortality_remarks }}
	</fieldset>
	<fieldset>
		{% include 'widgets/heading3.html' with text='NBP components' %}
		<p>Indicate whether the model includes the processes, and how the model accounts for the fluxes, i.e. what is the fate of the biomass? E.g. directly to atmsphere or let it go to other pool</p>
		{{ nf.nbp_fire }}
		{{ nf.nbp_landuse_change }}
		{{ nf.nbp_harvest }}
		{{ nf.nbp_other }}
		{{ nf.nbp_comments }}
	</fieldset>
	<fieldset>
		{% include 'widgets/heading3.html' with text='Species / Plant Functional Types (PFTs)' %}
		<p></p>
		{{ nf.list_of_pfts }}
		{{ nf.pfts_comments }}
	</fieldset>
	<fieldset>
		{% include 'widgets/heading3.html' with text='Model output specifications' %}
		{{ nf.initial_state }}
		{{ nf.output }}
		{{ nf.output_per_pft }}
		{{ nf.total_calculation }}
		{{ nf.output_dbh_class }}
		{{ nf.considerations }}
	</fieldset>
	{% for group in form.generic_groups %}
		<fieldset>
		{% include 'widgets/heading3.html' with text=group.name %}
		{% if group.description %}
			{% include 'widgets/richtext-content.html' with content=group.description %}
		{% endif %}
		{% for field in group.fields %}
			{{ nf|keyvalue:field }}
		{% endfor %}
		</fieldset>
	{% endfor %}
{% endblock %}