{% extends 'climatemodels/edit_sector.html' %}
{% load template_form %}
{% load keyvalue %}

{% block form_content %}
	{% template_form form as nf %}
	<fieldset>
		{% include 'widgets/heading3.html' with text='Model & Method Characteristics' %}
		{{ nf.model_type }}
		{{ nf.temporal_extent }}
		{{ nf.temporal_resolution }}
		{{ nf.data_format_for_input }}
	</fieldset>
	<fieldset>
		{% include 'widgets/heading3.html' with text='Impact Types' %}
		{{ nf.impact_types_energy_demand }}
		{{ nf.impact_types_temperature_effects_on_thermal_power }}
		{{ nf.impact_types_weather_effects_on_renewables }}
		{{ nf.impact_types_water_scarcity_impacts }}
		{{ nf.impact_types_other }}
	</fieldset>
	<fieldset>
		{% include 'widgets/heading3.html' with text='Output' %}
		{{ nf.output_energy_demand }}
		{{ nf.output_energy_supply }}
		{{ nf.output_water_scarcity }}
		{{ nf.output_economics }}
		{{ nf.output_other }}
	</fieldset>
	<fieldset>
		{% include 'widgets/heading3.html' with text='Further Information' %}
		{{ nf.variables_not_directly_from_GCMs }}
		{{ nf.response_function_of_energy_demand_to_HDD_CDD }}
		{{ nf.factor_definition_and_calculation }}
		{{ nf.biomass_types }}
		{{ nf.maximum_potential_assumption }}
		{{ nf.bioenergy_supply_costs }}
		{{ nf.socioeconomic_input }}
	</fieldset>
	{% for group in form.generic_groups %}
		<fieldset>
		{% include 'widgets/heading3.html' with text=group.name %}
		{% if group.description %}
			{% include 'widgets/richtext-content.html' with content=group.description %}
		{% endif %}
		{% for field in group.fields %}
			{{ nf|keyvalue:field }}
		{% endfor %}
		</fieldset>
	{% endfor %}
{% endblock %}
