

@color-white: white;
@color-black: black;
@color-neutral: #a4a4a4;
@color-neutral-dark: #4a4a4a;
@color-secondary: #f5ab35;
@color-primary: #0681be;


body {
}


.backgroundimage {
	background-position: center;
	background-size: cover;
}

a {
	color: @color-secondary;

	&:hover {
		color: @color-black;
	}
}


.content-container {
	> .container {
		@media(min-width:768px) {
			padding-left: 0;
			padding-right: 0;

			> .content-container-border {
				border: 1px solid @color-neutral;

				> .content-container-inner {
					padding-left: 30px;
					padding-right: 30px;
				}
			}
		}
	}
}


.image {
	display: block;
	width: 100%;
	height: auto;
}

.super {
	background-color: @color-primary;
	padding: 15px;
	margin-bottom: 30px;
	color: @color-white;

	*:first-child {
		margin-top: 0;
	}
	*:last-child {
		margin-bottom: 0;
	}
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	color: @color-primary;
}
h1, .h1, h2, .h2, h3, .h3 {
	text-transform: uppercase;
}
.super {
	h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
		color: @color-white;
	}
}



.btn {
	border-color: @color-black;

	&.btn-default {
		border-radius: 0;
	}

	&.btn-primary {
		border-color: @color-secondary;
		background-color: @color-secondary;
		-webkit-transition: background-color 0.5s;
		transition: background-color 0.5s;

		&:hover, &:focus {
			background-color: @color-white;
			color: @color-secondary;
		}
	}
}
.super {
	.btn {
		border-color: @color-white;
		color: @color-white;

		&.btn-default {
			background-color: @color-primary;
			-webkit-transition: background-color 0.5s;
			transition: background-color 0.5s;

			&:hover, &:focus {
				background-color: @color-white;
				color: @color-primary;
			}
		}
	}
}


// ############# Widgets


.widget-header {
	.navbar.navbar-default {
		margin-bottom: 0;

		.navbar-header {
			.navbar-brand {
				img {
					width: 140px;
					display: block;
					height: auto;
				}
			}
		}
		.navbar-collapse {
			ul.navbar-nav {
				> li {
					> a {
						padding: 35px 10px 35px 10px;
					}
				}
			}
		}
	}


}


.widget-footer {
	background-color: @color-neutral-dark;
	color: @color-white;

	a {
		color: @color-white;
	}
}


.widget-head-super {
	margin-bottom: 30px;

	.container {
		text-align: center;

		.widget-head-super-divider {
			width: 100px;
			margin: 30px auto;
			background-color: @color-secondary;
			height: 2px;
		}
		.btn.btn-default {
			background-color: transparent;
		}
	}
}






.widget-richtext-content {
	margin: 0 0 15px 0;

	img.richtext-image {
		display: block;
		width: 100%;
		height: auto;

		@media (min-width: 768px) {
			&.left {
				clear: both;
				float: left;
				width: 50%;
				margin: 0 15px 15px 0;
			}

			&.right {
				clear: both;
				float: right;
				width: 50%;
				margin: 0 0 15px 15px;
			}
		}

		@media (min-width: 992px) {
			&.left, &.right {
				width: 33%;
			}
		}
	}

	.responsive-object {
		margin-top: 15px;
		clear: both;
	}

	*:first-child {
		margin-top: 0;
	}
	*:last-child {
		margin-bottom: 0;
	}
}
.widget-embed {
	margin-bottom: 15px;
}
.widget-embed, .widget-richtext-content {
	.responsive-object {
		position:relative;

		iframe, object, embed {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}
}



.widget-page-teaser-text {
	// Enthalten in den anderen widget-page-teasers.
	.widget-page-teaser-text-date {
		font-style: italic;
	}
}

.widget-page-teaser, .widget-page-teaser-wide, .widget-page-teaser-flat {
	margin-bottom: 15px;
}

.widget-page-teaser-flat {
	.h4 {
		margin-top: 0;
	}
}


.widget-image {
	margin-bottom: 15px;
}



.widget-horizontal-ruler {
	margin-bottom: 30px;

	hr {
		border-top-color: @color-black;
		margin: 0;
	}

	&.widget-horizontal-ruler-light {
		hr {
			border-top-style: dashed;
		}
	}
}


.widget-download-link {
	border: 1px solid @color-neutral-dark;
	padding: 15px;
	margin-bottom: 30px;

	.widget-download-link-icon {
		color: @color-primary;
		margin-right: 15px;
	}
}



.widget-link-list {
	margin-bottom: 30px;

	> ul {
		> li {
			display: block;
			padding: 20px 0;
			font-size: 18px;


			+ li {
				border-top: 2px dashed @color-neutral;
			}
		}
	}
}


.widget-table {

	tbody tr {
		td {
			*:first-child {
				margin-top: 0;
			}
			*:last-child {
				margin-bottom: 0;
			}
		}
	}

	.widget-table-showmore-button {
		cursor: pointer;
		font-size: 18px;
		text-align: center;
		background-color: @color-neutral;
	}
	.widget-table-noentriesmessage {
		text-align: center;
		font-style: italic;
	}
	.widget-table-pagination-pagelink {
		font-size: 18px;
		padding: 5px;
		border-radius: 50%;

		&:hover, &:focus {
			background-color: @color-secondary;
			color: @color-white;
			text-decoration: none;
		}

		&.widget-table-pagination-pagelink-active {
			background-color: @color-secondary;
			color: @color-white;
		}
	}
	.widget-table-pagination-prevbutton, .widget-table-pagination-nextbutton {
		font-size: 18px;
		cursor: pointer;

		&:hover {
			background-color: @color-secondary;
		}

		&.disabled {
			color: @color-neutral;

			&:hover {
				background-color: transparent;
			}
		}
	}
}


.widget-expandable {
	border: 1px solid @color-neutral;
	margin-bottom: 15px;

	.widget-expandable-headline {
		background-color: @color-primary;
		color: @color-white;
		padding: 10px 15px;
		font-size: 18px;
	}

	.widget-expandable-list {
		padding: 0 15px;

		.widget-expandable-listitem {

			.widget-expandable-listitem-term {
				font-weight: bold;
				padding: 10px 0;

				.widget-expandable-listitem-term-openbutton {
					display: block;
				}
				.widget-expandable-listitem-term-closebutton {
					display: none;
				}
			}
			&.widget-expandable-listitem-toggleable {
				.widget-expandable-listitem-term {
					cursor: pointer;

					&:hover {
						color: @color-secondary;
					}
				}
			}

			.widget-expandable-listitem-definition {
				padding: 10px 0;
				display: none;
			}

			&.widget-expandable-listitem-term-open {
				.widget-expandable-listitem-definition {
					display: block;
					border-top: 1px dashed @color-neutral;
				}
				.widget-expandable-listitem-term-openbutton {
					display: none;
				}
				.widget-expandable-listitem-term-closebutton {
					display: block;
				}
			}


			+ .widget-expandable-listitem {
				border-top: 1px solid @color-neutral;
			}
		}
	}
}


.widget-indicator {
	margin-bottom: 30px;

	.widget-indicator-number {
		padding: 15px;
		border: 2px dashed @color-secondary;
	}
}

.widget-readmorelink {
	margin-bottom: 30px;
	a {
//		display: block;
	}
	&.widget-readmorelink-large {
		font-size: 18px;
	}
}

