// ISIMIP Styles

@color-white: white;
@color-black: black;
@color-neutral: #a4a4a4;
@color-neutral-dark: #4a4a4a;
@color-primary: #0681be; // blue
@color-primary-light: #eef6ee; // light blue
@color-secondary: #faba53; // was: f5ab35; // orange
@color-secondary-strong: #fa9a00; // Hover color


@import "../vendor/css/open-sans.less";

body {
	/* Der Browser lädt automatisch die Schnitte, deren Stil und Gewicht benötigt werden. */
	font-family: 'Open Sans';
}


a {
	color: @color-secondary;
	font-weight: 600;

	&:hover, &:focus {
		color: @color-secondary-strong;
	}
}


.background-container {
	// wrapper around whole page with background image
	background-position: center;
	background-size: cover;

	> .content-container {
		background-color: @color-white;

		padding-top: 30px;
		padding-bottom: 30px;

		@media(min-width:768px) {
			padding: 0;

			> .content-container-border {
				border: 1px solid @color-neutral;

				> .content-container-inner {
					padding: 30px;
				}
			}
		}
	}
}


.image {
	display: block;
	width: 100%;
	height: auto;
}


.form-control {
	border-radius: 4px;
	border-width: 1px;
	border-color: @color-neutral;

	height: 50px;
	font-size: 16px;
	font-weight: 600;

	-webkit-transition: border-color 0.5s, background-color 0.5s;
	transition: border-color 0.5s, background-color 0.5s;


	&:focus, &:hover {
		border-color: @color-neutral-dark;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	&.form-control-small {
		height: 33px;
		font-size: 13px;
		font-weight: normal;
	}
}
select.form-control {
	max-width: 300px;
	display: inline-block;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	border-color: @color-neutral;
	background-color: @color-neutral;
	color: @color-white;

	&:focus, &:hover {
		border-color: @color-neutral-dark;
		background-color: @color-neutral-dark;
	}


	// Disable arrow down
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */

	@media(min-width:768px) {
		margin-right: 15px;
	}

	option {
		background-color: @color-white;
		color: @color-black;
		font-weight: 400;
	}

}




.super {
	// Störer-Block with blue background for use inside .container
	background-color: @color-primary;
	padding: 20px;
	margin-bottom: 30px;
	color: @color-white;

	*:first-child {
		margin-top: 0;
	}
	*:last-child {
		margin-bottom: 0;
	}

	a {
		&:hover {
//			color: @color-white;
		}
	}
}


// Headlines
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	color: @color-primary;
	margin-top: 0; // Undo this in richtext fields
}
h3, .h3 {
	text-transform: uppercase;
}
h2, .h2 {
	font-weight: 400;
	font-size: 28px;
	color: @color-neutral-dark;
}
h3, .h3 {
	font-weight: 300;
	margin-bottom: 15px;
	font-size: 24px;
  &:hover > .headerlink {
	opacity: 100;
  }
  .headerlink {
	color: @color-primary;
	text-decoration: none;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	-moz-transition: opacity 200ms ease-in-out;
	-o-transition: opacity 200ms ease-in-out;
	-webkit-transition: opacity 200ms ease-in-out;
	&:hover {
	  opacity: 100;
	}
  }
}
h4, .h4 {
	font-weight: 600;
}
.super {
	h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
		color: @color-white;
	}
}



// Buttons
.btn {
	border-color: @color-black;
	text-transform: uppercase;
	padding: 10px 15px;
	font-weight: 600;
	border-radius: 0;
	-webkit-transition: color 0.5s, border-color 0.5s;
	transition: color 0.5s, border-color 0.5s;

	@media(min-width:992px) {
		font-size: 16px;
		padding: 15px 25px;
	}

	&.btn-default {
		border-color: @color-black;
		background-color: transparent;

		&:hover, &:focus {
			color: @color-secondary-strong;
			border-color: @color-secondary-strong;
		}
	}

	&.btn-primary {
		border-color: @color-secondary;
		background-color: @color-secondary;
		color: @color-white;

		&:hover, &:focus {
		border-color: @color-secondary-strong;
		background-color: @color-secondary-strong;
		color: @color-white;
		}
	}
}
.super {
	.btn {

		&.btn-default {
			border-color: @color-white;
			color: @color-white;

			&:hover, &:focus {
			border-color: @color-secondary;
			color: @color-secondary;
			}
		}
	}
}



// ############# Widgets


.widget-header {

// ################ Use Hamburger for SM START ####################
	@media (min-width: 768px) {
		.navbar-collapse {
			width: auto;
			border-top: 1px solid transparent;
			-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
		}
		.navbar-collapse.collapse {
			display: none !important;
		}
		.navbar-collapse.in {
			overflow-y: auto !important;
			display: block !important;
		}
		.navbar-fixed-top .navbar-collapse,
		.navbar-static-top .navbar-collapse,
		.navbar-fixed-bottom .navbar-collapse {
			padding-right: 15px;
			padding-left: 15px;
		}

		.container > .navbar-header,
		.container-fluid > .navbar-header,
		.container > .navbar-collapse,
		.container-fluid > .navbar-collapse {
			margin-right: -15px;
			margin-left: -15px;
		}

		.navbar-toggle {
			display: block;
		}

		.navbar-header {
			float: none;
		}

		.navbar-nav {
			float: none;
			margin: 7.5px -15px;
		}
		.navbar-nav > li {
			float: none;
		}
		.navbar-nav > li > a {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.widget-header .navbar-nav {
			float: none;
		}
		.navbar-right {
			float: none !important;
		}

		.navbar > .container .navbar-brand,
		.navbar > .container-fluid .navbar-brand {
			margin-left: 0;
		}
	}

	@media (min-width: 992px) {
		.navbar-collapse {
			width: auto;
			border-top: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
		.navbar-collapse.collapse {
			display: block !important;
		}
		.navbar-collapse.in {
			overflow-y: visible;
		}
		.navbar-fixed-top .navbar-collapse,
		.navbar-static-top .navbar-collapse,
		.navbar-fixed-bottom .navbar-collapse {
			padding-right: 0;
			padding-left: 0;
		}

		.container > .navbar-header,
		.container-fluid > .navbar-header,
		.container > .navbar-collapse,
		.container-fluid > .navbar-collapse {
			margin-right: 0;
			margin-left: 0;
		}

		.navbar-toggle {
			display: none;
		}

		.navbar-header {
			float: left;
		}


		.navbar-nav {
			float: left;
			margin: 0;
		}
		.navbar-nav > li {
			float: left;
		}
		.navbar-nav > li > a {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		.widget-header .navbar-nav {
			float: left;
		}
		.navbar-right {
			float: right !important;
		}

		.navbar > .container .navbar-brand,
		.navbar > .container-fluid .navbar-brand {
			margin-left: -15px;
		}
	}
// ################ Use Hamburger for SM END ####################


	.navbar.navbar-default {
		margin-bottom: 0;
		border-width: 0 0 1px 0;
		border-color: @color-neutral;
		border-radius: 0;
		background-color: @color-white;
		min-height: 70px;

		.navbar-header {
			.navbar-brand {
				padding: 14px 0 0 15px;
				height: 70px;

				@media(min-width:992px) {
					padding-top: 20px;
					margin-right: 60px;
				}
				-webkit-transition: opacity 0.5s;
				transition: opacity 0.5s;

				&:hover, &:focus {
					opacity: 0.7;
				}

				img {
					width: 120px;
					@media(min-width:992px) {
						width: 140px;
					}
					display: block;
					height: auto;
				}
			}

			button.navbar-toggle {
				border-radius: 0;
				border-width: 0;
				padding: 15px 5px;
				margin-top: 12px;


				&:hover, &:active, &:focus {
					background-color: transparent;
				}
				&:hover {
					.icon-bar {
						background-color: @color-primary;
					}
				}

				.icon-bar {
					-webkit-transition: background-color 0.5s;
					transition: background-color 0.5s;

					background-color: @color-black;
					height: 3px;
					border-radius: 2px;

					+ .icon-bar {
						margin-top: 5px;
					}
				}
			}
		}
		.navbar-collapse {
			ul.navbar-nav {
				> li {
					> a {
						font-weight: 700;
						padding: 15px 15px 15px 15px;
						@media(min-width:992px) {
							padding: 35px 15px 35px 15px;
						}

						text-align: center;

						text-transform: uppercase;
						color: @color-black;

						-webkit-transition: color 0.5s;
						transition: color 0.5s;

						&:focus, &:hover {
							color: @color-primary;
						}

					}

					// Line between links in hamburger nav
					+ li {
						> a {
							border-top: 1px solid @color-neutral;
							@media(min-width:992px) {
								border-top-width: 0;
							}
						}
					}

					&.active {
						> a {
							color: @color-primary;
							background-color: transparent;
							position: relative;

							&:focus, &:hover {
								// color: @color-black;
							}

							@media(min-width:992px) {
								&::after {
									display: block;
									content: " ";
									position: absolute;
									bottom: 25px;
									left: 18px;
									right: 18px;
									height: 3px;
									background-color: @color-neutral;
								}
							}
						}
					}
				}
			}
		}
	}
}


.widget-footer {
	background-color: @color-neutral-dark;
	color: @color-white;
	overflow: auto; // Stop bubbling margins
	padding-bottom: 30px;

	a {
		color: @color-white;
	}

	.widget-footer-navbar {
		margin-top: 25px;
		margin-bottom: 15px;
		ul {
			text-align: center;
			li {
				float: none;

				@media(min-width:768px) {
					display: inline-block;
				}
				a {
					background-color: transparent;
					font-size: 16px;

					&:focus, &:hover {
						color: @color-secondary-strong;
					}

				}

				&.active {
					a {
						color: @color-secondary;

						&:focus, &:hover {
							background-color: transparent;
							color: @color-secondary-strong;
						}
					}
				}
			}
		}
	}

	hr {
		margin: 15px 15px 25px 15px;
		border-color: @color-neutral;
	}

	.widget-footer-logos {
		font-size: 12px;
	}
}


.widget-head-super {
	margin-bottom: 30px;

	.container {
		text-align: center;

		.widget-head-super-title h1 {
			font-size: 20px;
			margin: 37px 0 0 0;
			@media(min-width:992px) {
				font-size: 34px;
			}
			color: @color-black;
		}
		.widget-head-super-divider {
			width: 100px;
			margin: 22px auto;
			background-color: @color-secondary;
			height: 3px;
		}
		.widget-head-super-text {
			color: @color-black;
			max-width: 440px;
			margin: 0 auto;
		}

		.widget-button {
			margin-top: 28px;

			.btn.btn-default {
			}
		}
	}
}






.widget-richtext-content {
	// TODO: Abstände der Headings einstellen
	margin: 0 0 15px 0;


	h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
		margin-top: 1em;
		margin-bottom: 0.3em;
	}


	img.richtext-image {
		display: block;
		width: 100%;
		height: auto;

		@media (min-width: 768px) {
			&.left {
				clear: both;
				float: left;
				width: 50%;
				margin: 0 15px 15px 0;
			}

			&.right {
				clear: both;
				float: right;
				width: 50%;
				margin: 0 0 15px 15px;
			}
		}

		@media (min-width: 992px) {
			&.left, &.right {
				width: 33%;
			}
		}
	}

	.responsive-object {
		margin-top: 15px;
		clear: both;
	}

	*:first-child {
		margin-top: 0;
	}
	*:last-child {
		margin-bottom: 0;
	}
}
.widget-embed {
	margin-bottom: 15px;
}
.widget-embed, .widget-richtext-content {
	.responsive-object {
		position:relative;

		iframe, object, embed {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}
}



.widget-page-teaser-text {
	// Enthalten in den anderen widget-page-teasers.
	.widget-page-teaser-text-date {
		margin-bottom: 5px;
	}
	.h4 {
		margin-bottom: 7px;
	}
	hr {
		border-style: dashed;
		margin: 10px 0;
	}
}

.widget-page-teaser, .widget-page-teaser-wide, .widget-page-teaser-flat {
	margin-bottom: 15px;
}

.widget-page-teaser-flat {
	.h4 {
		margin-top: 0;
	}
	.widget-arrow-right-link {
		margin-top: -3px;
	}
}


.widget-page-teaser {

	&.widget-page-teaser-withrightlink {
		position: relative;

		@media(min-width:768px) {
			min-height: 330px;
			// Magische Höhe, die ein Teaser mindestens hat
		}


		padding-bottom: 50px;

		.widget-page-teaser-rightlink {
			position: absolute;
			left: 0;
			width: 100%;
			bottom: 0;
		}
	}
}

.widget-page-teaser-wide {
	.widget-image {
		margin-bottom: 15px;
	}
}

.super {
	.widget-page-teaser, .widget-page-teaser-wide, .widget-page-teaser-flat {
		.widget-image {
			img {
				border: 2px solid @color-white;
			}
		}
	}
}



.widget-image {
	margin-bottom: 15px;
}



.widget-horizontal-ruler {
	margin-bottom: 30px;

	hr {
		border-top-color: @color-neutral;
		margin: 0;
	}

	&.widget-horizontal-ruler-light {
		hr {
			border-top-style: dashed;
		}
	}
}


.widget-download-link {
	border: 1px solid @color-neutral;
	padding: 15px;
	margin-bottom: 30px;

	.widget-download-link-icon {
		color: @color-primary;
		margin-right: 15px;
		margin-top: 10px;
		font-size: 36px;
		float: left;
	}
	.widget-download-link-text {
		font-size: 14px;
		@media(min-width:768px) {
			font-size: 18px;
		}
		display: block;
		margin-top: 15px;
	}
}


.widget-messages {
	.alert {
		border-radius: 0;
	}
}


.widget-breadcrumb {
	background-color: transparent;
	padding: 0;
	margin-bottom: 30px;
	font-size: 14px;
	@media(min-width:768px) {
		font-size: 16px;
	}

	> li {
		a {
			font-weight: 400;
			color: @color-neutral;

			&:hover, &:focus {
				color: @color-black;
			}
		}
		+ li {
			&::before {
				content: "›";
				color: @color-neutral;
			}
		}
	}
}


.widget-link-list {
	margin-bottom: 30px;

	> ul {
		> li {
			display: block;
			padding: 20px 0;
			font-size: 16px;
			@media(min-width:768px) {
				font-size: 18px;
			}

			+ li {
				border-top: 2px dashed @color-neutral;
			}
		}
	}
}



.widget-pagination {
	text-align: center;
	padding: 5px 0;

	.widget-pagination-pagelink {
		font-size: 14px;
		@media(min-width:768px) {
			font-size: 18px;
		}
		height: 22px;
		width: 22px;
		@media(min-width:768px) {
			height: 28px;
			width: 28px;
		}

		border-radius: 50%;
		display: inline-block;
		text-align: center;
		color: @color-black;

		&:hover, &:focus {
			color: @color-secondary;
			text-decoration: none;
		}

		&.widget-pagination-pagelink-active {
			background-color: @color-secondary;
			color: @color-white;

			&:hover, &:focus {
				color: @color-white;
			}
		}
	}
	.widget-pagination-prevbutton, .widget-pagination-nextbutton {
		font-size: 14px;
		@media(min-width:768px) {
			font-size: 18px;
		}
		cursor: pointer;

		&:hover {
			color: @color-secondary;
		}

		&.disabled {
			color: @color-neutral;

			&:hover {
				background-color: transparent;
			}
		}
	}
}

.widget-table table {
	margin-bottom: 15px;
	border: 1px solid @color-neutral;

	&.table > tbody > tr > td, &.table > tbody > tr > th,
	&.table > tfoot > tr > td, &.table > tfoot > tr > th,
	&.table > thead > tr > td, &.table > thead > tr > th {
		border-width: 0;
	}

	> thead {
		border-bottom: 1px solid @color-neutral;

		tr.widget-table-headings {
			background-color: @color-primary;
			color: @color-white;

			th {
				font-weight: 600;
			}
		}
	}

	> tbody > tr {
		background-color: @color-white;

		td {
			*:first-child {
				margin-top: 0;
			}
			*:last-child {
				margin-bottom: 0;
			}
		}

		&:nth-of-type(2n) {
			background-color: @color-primary-light;
		}
		&:nth-of-type(2n+1) {
			background-color: transparent;
		}
		&:hover {
			background-color: fadeout(@color-neutral, 80%);
		}
	}

	> tfoot {
		border-top: 1px solid @color-neutral;
	}

	.widget-table-showmore-button {
		cursor: pointer;
		font-size: 18px;
		text-align: center;
		background-color: @color-primary;
		color: @color-white;
	}
	.widget-table-noentriesmessage {
		text-align: center;
		font-style: italic;
	}
}

.widget-table-selector {
	select {
		margin-bottom: 15px;
	}
	.widget-table-selector-search {
		max-width: 300px;
		display: inline-block;
		margin-bottom: 15px;
	}
}


.widget-expandable {
	border: 1px solid @color-neutral;
	margin-bottom: 15px;
	font-size: 14px;
	@media(min-width:768px) {
		font-size: 16px;
	}

	.widget-expandable-headline {
		background-color: @color-primary;
		color: @color-white;
		font-weight: 600;
		padding: 10px 15px;
		font-size: 14px;
		@media(min-width:768px) {
			font-size: 18px;
		}
	}

	.widget-expandable-list {
		padding: 0 15px;

		.widget-expandable-listitem {

			.widget-expandable-listitem-term {
				font-weight: bold;
				padding: 15px 0;

				.widget-expandable-listitem-term-openbutton {
					display: block;
				}
				.widget-expandable-listitem-term-closebutton {
					display: none;
				}
			}
			&.widget-expandable-listitem-toggleable {
				.widget-expandable-listitem-term {
					cursor: pointer;

					&:hover {
						color: @color-secondary;
					}
				}
			}

			.widget-expandable-listitem-definitions {
				display: none;

				.widget-expandable-listitem-definition {
					padding: 15px 0;

					+ .widget-expandable-listitem-definition {
						border-top: 1px dashed @color-neutral;
					}
				}
			}

			&.widget-expandable-listitem-term-open {
				.widget-expandable-listitem-term + .widget-expandable-listitem-definitions {
					border-top: 1px dashed @color-neutral;
				}

				.widget-expandable-listitem-definitions {
					display: block;
				}
				.widget-expandable-listitem-term-openbutton {
					display: none;
				}
				.widget-expandable-listitem-term-closebutton {
					display: block;
				}
			}


			+ .widget-expandable-listitem {
				border-top: 1px solid @color-neutral;
			}
		}
	}
}


.widget-indicator {
	margin-bottom: 30px;

	.widget-indicator-number {
		padding: 4px 0 4px 7px;
		line-height: 1em;
		border: 1px dashed @color-primary;
		font-size: 48px;
		font-weight: 900;
		color: @color-primary;
		margin-bottom: 5px;
	}

	div.h4 {
		color: @color-black;
		margin-bottom: 10px;
	}
}

.widget-readmorelink {
	margin-bottom: 30px;
	a {
//		display: block;
	}
	&.widget-readmorelink-large {
		font-size: 18px;
	}
}



.widget-nullboolean, .widget-multiselect {
	margin-bottom: 10px;

	.widget-options {
		display: inline-block;

		label.radio-inline, label.checkbox-inline {
			margin: 0;
			padding: 0;

			input {
				display:none;

				+ span {
					border: 1px solid @color-secondary;
					display:inline-block;
					margin: 0;
					padding: 4px 12px;
					background-color: @color-white;
					color: @color-secondary;

					&:hover, &:focus, &:active {
						color: @color-secondary-strong;
						border-color: @color-secondary-strong;
					}
				}
				&:checked + span {
					background-image: none;
					background-color: @color-secondary;
					color: @color-white;

					&:hover, &:focus, &:active {
						background-color: @color-secondary-strong;
						border-color: @color-secondary-strong;
					}
				}
			}

			+ label.radio-inline, + label.checkbox-inline {
				span {
					border-left-width: 0;
				}
			}
		}

		&.widget-options-separated {
			label.radio-inline, label.checkbox-inline {
				+ label.radio-inline, + label.checkbox-inline {
					margin-left: 10px;

					span {
						border-left-width: 1px;
					}
				}
			}
		}
	}

	.widget-select-custom {
		margin-top: 15px;
	}
}
