<svg
	class="widget-arrow-right-circle"
	xmlns="http://www.w3.org/2000/svg"
	version="1.1"
	viewBox="0 0 108.90066 108.90066"
	height="30.734186mm"
	width="30.734186mm">
	<g
		transform="translate(-315.77059,-156.4548)">
		<circle
			style="fill-opacity:1;stroke:none"
			r="53.033009"
			cy="210.90514"
			cx="370.22092" />
		<path
			d="m 360.37192,187.56566 23.10724,23.10724 -23.10724,23.10724"
			style="fill:none;fill-rule:evenodd;stroke:#ffffff;stroke-width:8;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
	</g>
</svg>
