<div class="row">
    <div class="col-sm-9">
        {% include 'widgets/heading3.html' with text=title %}
        <div class="row">
            {% for entry in entries %}
                {% include 'widgets/blogentry.html' %}
            {% endfor %}
        </div>
        {% include 'widgets/read-more-link.html' with align='right' text='See all news' url='/news/' %}
    </div>
    <div class="col-sm-3">
        {% include 'widgets/heading3.html' with text='ISI-MIP in numbers'%}
        {% include 'widgets/indicator.html' with number='17&#8239;000' title='Over 9000' text='Bblabla' %}
        {% include 'widgets/indicator.html' with number='58%' title='Awesomeness' text='Bblablablu' %}
        {% include 'widgets/read-more-link.html' with align='right' text='See all indicators' url='/indicators/' %}
    </div>
</div>

