{% load staticfiles i18n %}
<div class="widget-footer{% if fixed %} footer-fixed{% endif %}">
	<div class="widget-footer-navbar">
		<ul class="nav nav-pills">
			{% for link in links %}
				<li role="presentation"{% if link.active %} class="active"{% endif %}><a
						href="{{ link.url }}">{{ link.text }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<hr>
	<div class="widget-footer-logos">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="row">
						<div class="col-xs-4 col-xs-offset-4 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">
							<img src="{% static 'images/logo-neutral-dark.png' %}" class="image">
						</div>
					</div><!-- row -->
					<br>
					<br>
				</div>
				<div class="col-sm-6 col-sm-offset-1 col-md-4 col-md-offset-2 text-center">
					Website consultancy, design and implementation:<br> <a href="https://brueck.io/" target="_blank">Matthias Brück <br>brueck.io</a>
					</a>
					<br>
					<br>
				</div>
				<div class="col-sm-3 col-md-offset-1 text-center">
					Except where otherwise noted, content on this site is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>.
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
</div><!-- widget-footer -->
