{% load staticfiles i18n %}
<div class="widget-footer{% if fixed %} footer-fixed{% endif %}">
	<div class="widget-footer-navbar">
		<ul class="nav text-center">
			{% for link in links %}
				<li role="presentation"{% if link.active %} class="active"{% endif %}><a
						href="{{ link.url }}">{{ link.text }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="widget-footer-sitemap hidden-xs">
		<div class="container">
			<div class="row">
				{% for toplink in sitemap_links %}
					<div class="col-sm-2">
						<div>
							<a class="sitemap-toplink{% if toplink.url == page.url %}  active{% endif %}"
								href="{{ toplink.url }}">{{ toplink.text }}</a>
						</div>
						{% for link in toplink.links %}
							<div>
								<a class="sitemap-sublink{% if link.url == page.url %}  active{% endif %}"
									href="{{ link.url }}">{{ link.text }}</a>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div><!-- row -->
		</div>
	</div>
	<div class="widget-footer-partner">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="row">
						<div class="col-xs-4 col-xs-offset-4 col-sm-10 col-sm-offset-1">
							<img src="{% static 'images/bbf-logo.png' %}" class="image widget-footer-bbf">
						</div>
					</div><!-- row -->
				</div>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2">
							<img src="{% static 'images/wissenschaft-im-dialog-logo.png' %}" class="image widget-footer-wid">
						</div>
					</div><!-- row -->
				</div>
				<div class="col-sm-5">
					{{ partnertext|safe }}
				</div>
			</div>
		</div>
	</div>
	<div class="widget-footer-sinnwerkstatt">
		<p>Konzeption, Gestaltung und Umsetzung:</p>
		<p><a href="https://www.sinnwerkstatt.com">sinnwerkstatt Medienagentur GmbH</a></p>
	</div>
</div><!-- widget-footer -->
