{% load staticfiles i18n %}
<div class="widget-header">
	<nav class="navbar navbar-default{% if noborder %} navbar-noborder{% endif %}">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#widget-header-{{ id }}" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img src="{% static 'images/logo-white.png' %}">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="widget-header-{{ id }}">
				<ul class="nav navbar-nav">
					{% for link in links %}
						<li class="{% if link.active %}active{% endif %}{% if link.children %} dropdown{% endif %}">
							<a href="{{ link.url }}"{% if link.children %} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"{% endif %}>{{ link.text }}{% if link.children %} <span class="caret"></span>{% endif %}</a>
							{% if link.children %}
								<ul class="dropdown-menu">
								{% for child in link.children %}
									<li{% if child.active %} class="active"{% endif %}>
										<a href="{{ child.url }}">{{ child.text }}</a>
									</li>
								{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="search-input">
						<form action="/search/" method="get">
							<div class="input-group">
								<input type="text" class="form-control" name="query" {% if search_query %} value="{{ search_query }}"{% endif%} placeholder="Search">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
								</span>
							</div><!-- /input-group -->
						</form>
					</li>
				</ul>
			</div><!-- navbar-collapse -->
		</div><!-- container -->
	</nav>
</div><!-- widget-header -->
