<div class="widget-nullboolean form-group{% if error %} has-error{% endif %}">
{% if label %}
<label class="control-label">{{ label }}{% if required %}<span class="asteriskField">*</span>{% endif %}</label>
{% endif %}

<div class="widget-options">
	{% if nullable %}
	<label class="radio-inline">
		<input type="radio" name="{{ id }}" value="unknown"{% if value == None %} checked="checked"{% endif %} autocomplete="off">
		<span>unknown</span>
	</label>{% endif %}<!--
	--><label class="radio-inline">
		<input type="radio" name="{{ id }}" value="True"{% if value == True %} checked="checked"{% endif %} autocomplete="off">
		<span>yes</span>
	</label><!--
	--><label class="radio-inline">
		<input type="radio" name="{{ id }}" value="False"{% if value == False %} checked="checked"{% endif %} autocomplete="off">
		<span>no</span>
	</label>
</div>

{% if help %}
	<p class="help-block">{{ help }}</p>
{% endif %}
</div><!-- widget-nullboolean -->
