<div class="widget-page-teaser-text">
{% if text.author %}
	<p class="widget-page-teaser-text-author"><em>{{ text.author }}</em></p>
{% endif %}
{% if text.date and text.datebeforetitle %}
	<p class="widget-page-teaser-text-date">
		<i class="fa fa-clock-o"></i>
		{{ text.date }}
	</p>
{% endif %}
{% if text.title %}
	<div class="h4">
		{% if href %}
			<a href="{{ href }}">
				{{ text.title }}
			</a>
		{% else %}
			{{ text.title }}
		{% endif %}
	</div>
{% endif %}
{% if text.date and not text.datebeforetitle %}
	<p class="widget-page-teaser-text-date">
		<i class="fa fa-clock-o"></i>
		{{ text.date }}
	</p>
{% endif %}
{% if text.date %}
	<p class="widget-page-teaser-text-journal"><em>{{ text.journal }}</em></p>
{% endif %}
{% if text.divider %}
	<hr>
{% endif %}
{% if text.description %}
	<p class="widget-page-teaser-text-description">{{ text.description }}</p>
{% endif %}
{% if text.source %}
	<p class="widget-page-teaser-text-source">
		<a href="{{ text.source.href }}">
			<i class="fa fa-external-link"></i>
			{{ text.source.description }}
		</a>
	</p>
{% endif %}
{% if text.arrow_right_link %}
	{% include "widgets/arrow-right-link.html" with href=href %}
{% endif %}
{% if text.text_right_link %}
	<a href="{{ href }}" class="btn btn-default pull-right">{{ text.text_right_link_text }}</a>
	<div class="clearfix"></div>
{% endif %}
</div><!-- widget-page-teaser-text -->
