<div class="widget-paper-editor"{% if maxpapercount %} data-maxpapercount="{{ maxpapercount }}"{% endif %}{% if apibaseurl %} data-apibaseurl="{{ apibaseurl }}"{% endif %}>
	{% if label %}
		<label class="control-label">{{ label }}{% if required %}<span class="asteriskField">*</span>{% endif %}</label>
	{% endif %}
	<div class="widget-paper-list">
	{% for paper in papers %}
		<div class="widget-paper-visualisation">
			<label>Author <input class="paper-author form-control form-control-small" name="{{ id }}-author" value="{{ paper.author|default:'' }}"></label>
			<label>Title <input class="paper-title form-control form-control-small" name="{{ id }}-title" value="{{ paper.title|default:'' }}"></label>
			<label>Journal <input class="paper-journal form-control form-control-small" name="{{ id }}-journal" value="{{ paper.journal|default:'' }}"></label>
			<label>Volume <input class="paper-volume form-control form-control-small" name="{{ id }}-volume" value="{{ paper.volume|default:'' }}"></label>
			<label>Page(s) <input class="paper-page form-control form-control-small" name="{{ id }}-page" value="{{ paper.page|default:'' }}"></label>
			<label>Date <input class="paper-date form-control form-control-small" name="{{ id }}-date" value="{{ paper.date|default:'' }}"></label>
			<label>DOI <input class="paper-doi form-control form-control-small" name="{{ id }}-doi" value="{{ paper.doi|default:'' }}"></label>
			<button class="btn btn-link widget-paper-removebutton">remove this paper</button>
		</div>
	{% endfor %}
	</div>

	<div class="widget-paper-visualisation-template" style="display: none;">
		<div class="widget-paper-visualisation">
			<label>Author <input class="paper-author form-control form-control-small" name="{{ id }}-author"></label>
			<label>Title <input class="paper-title form-control form-control-small" name="{{ id }}-title"></label>
			<label>Journal <input class="paper-journal form-control form-control-small" name="{{ id }}-journal"></label>
			<label>Volume <input class="paper-volume form-control form-control-small" name="{{ id }}-volume"></label>
			<label>Page(s) <input class="paper-page form-control form-control-small" name="{{ id }}-page"></label>
			<label>Date <input class="paper-date form-control form-control-small" name="{{ id }}-date"></label>
			<label>DOI <input class="paper-doi form-control form-control-small" name="{{ id }}-doi"></label>
			<button class="btn btn-link widget-paper-removebutton">remove this paper</button>
		</div>
	</div>

	<div class="widget-paper-addbuttons"{% if maxpapercount %}{% if maxpapercount <= papers|length %} style="display: none;"{% endif %}{% endif %}>
		<button class="btn btn-default widget-paper-editor-searchform-button">search paper</button>
		<button class="btn btn-default widget-paper-editor-manual-button">add manually</button>
	</div>

	<div class="widget-paper-searchform" style="display: none;">
		<p>Enter the paper's title to search in Crossref database.</p>
		<p>
			<input class="form-control widget-paper-searchform-title form-control-small" autocomplete="off" placeholder="title">
		</p>
		<button class="btn btn-default widget-paper-editor-search-cancelbutton">cancel</button>
		<button class="btn btn-default widget-paper-editor-search-button">search</button>
	</div>
	{% if help %}
		<p class="help-block">{{ help }}</p>
	{% endif %}
</div><!-- widget-paper-editor -->
