<div class="widget-paper-editor"{% if maxpapercount %}data-maxpapercount="{{ maxpapercount }}{% endif %}">
	{% if label %}
		<label class="control-label">{{ label }}{% if required %}<span class="asteriskField">*</span>{% endif %}</label>
	{% endif %}
	{% if help %}
		<p class="help-block">{{ help }}</p>
	{% endif %}
	<br>
	<div class="widget-paper-list">
	{% for paper in papers %}
		<div class="widget-paper-visualisation">
			<label>Author <input class="paper-author" name="paper-author" value="{{ paper.author }}"></label>
			<label>Title <input class="paper-title" name="paper-title" value="{{ paper.title }}"></label>
			<label>Journal <input class="paper-journal" name="paper-journal" value="{{ paper.journal }}"></label>
			<label>Volume <input class="paper-volume" name="paper-volume" value="{{ paper.volume }}"></label>
			<label>Page <input class="paper-page" name="paper-page" value="{{ paper.page }}"></label>
			<label>Date <input class="paper-date" name="paper-date" value="{{ paper.date }}"></label>
			<label>DOI <input class="paper-doi" name="paper-doi" value="{{ paper.doi }}"></label>
			<label>URL <input class="paper-url" name="paper-url" value="{{ paper.url }}"></label>
			<button class="btn btn-link widget-paper-removebutton">remove this paper</button>
		</div>
	{% endfor %}
	</div>

	<div class="widget-paper-visualisation-template" style="display: none;">
		<div class="widget-paper-visualisation">
			<label>Author <input class="paper-author" name="paper-author"></label>
			<label>Title <input class="paper-title" name="paper-title"></label>
			<label>Journal <input class="paper-journal" name="paper-journal"></label>
			<label>Volume <input class="paper-volume" name="paper-volume"></label>
			<label>Page <input class="paper-page" name="paper-page"></label>
			<label>Date <input class="paper-date" name="paper-date"></label>
			<label>DOI <input class="paper-doi" name="paper-doi"></label>
			<label>URL <input class="paper-url" name="paper-url"></label>
			<button class="btn btn-link widget-paper-removebutton">remove this paper</button>
		</div>
	</div>

	<div class="widget-paper-addbuttons"{% if maxpapercount %}{% if maxpapercount <= papers|length %} style="display: none;"{% endif %}{% endif %}>
		<button class="btn btn-default widget-paper-editor-searchform-button">search paper</button>
		<button class="btn btn-default widget-paper-editor-manual-button">add manually</button>
	</div>

	<div class="widget-paper-searchform" style="display: none;">
		<p>Enter the paper's title to search in Crossref database.</p>
		<p>
			<input class="form-control widget-paper-searchform-title" placeholder="title">
		</p>
		<button class="btn btn-default widget-paper-editor-search-cancelbutton">cancel</button>
		<button class="btn btn-default widget-paper-editor-search-button">search</button>
	</div>

</div><!-- widget-paper-editor -->
