<div class="widget-paper-editor">
	<div class="widget-paper-list">
	{% for paper in papers %}
		<div class="widget-paper-visualisation">
			<label>Title <input class="paper-title" name="paper-title" value="{{ paper.title }}"></label>
			<label>DOI <input class="paper-doi" name="paper-doi" value="{{ paper.doi }}"></label>
			<label>Date <input class="paper-date" name="paper-date" value="{{ paper.date }}"></label>
			<label>ISSN <input class="paper-issn" name="paper-issn" value="{{ paper.issn }}"></label>
			<label>URL <input class="paper-url" name="paper-url" value="{{ paper.url }}"></label>
			<button class="btn btn-default widget-paper-removebutton">remove this paper</button>
			<hr>
		</div>
	{% endfor %}
	</div>

	<div class="widget-paper-visualisation-template" style="display: none;">
		<div class="widget-paper-visualisation">
			<label>Title <input class="paper-title" name="paper-title"></label>
			<label>DOI <input class="paper-doi" name="paper-doi"></label>
			<label>Date <input class="paper-date" name="paper-date"></label>
			<label>ISSN <input class="paper-issn" name="paper-issn"></label>
			<label>URL <input class="paper-url" name="paper-url"></label>
			<button class="btn btn-default widget-paper-removebutton">remove this paper</button>
			<hr>
		</div>
	</div>

	<div class="widget-paper-addbuttons">
		<button class="btn btn-default widget-paper-editor-searchform-button">search paper</button>
		<button class="btn btn-default widget-paper-editor-manual-button">add manually</button>
	</div>

	<div class="widget-paper-searchform" style="display: none;">
		<p>Enter the paper's title to search in Crossref database.</p>
		<p>
			<input class="form-control widget-paper-searchform-title" placeholder="title">
		</p>
		<button class="btn btn-default widget-paper-editor-search-cancelbutton">cancel</button>
		<button class="btn btn-default widget-paper-editor-search-button">search</button>
	</div>

</div><!-- widget-paper-editor -->
