<div class="widget-table aligncols"
	{% if id %} id="{{ id }}"{% endif %}
	{% if showalllink %} data-showalllink="true"{% endif %}
	{% if pagination %}
		data-rowsperpage="{{ pagination.rowsperpage }}"
		data-activepage="{{ pagination.activepage }}"
		data-numberofpages="{{ pagination.numberofpages }}"
	{% endif %}
	{% if filter %}
		data-filter='{{ filter|safe }}'
	{% endif %}
	{% if searchvalue %}
		data-filter="{{ searchvalue }}"
	{% endif %}>
		<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				{% if pagination %}
					<tr>
						<td colspan="42" class="text-center"><!-- 42 for da lulz -->
							{% include "widgets/pagination.html" %}
						</td>
					</tr>
				{% endif %}
				{% if head %}
				<tr class="widget-table-headings">
					{% for col in head.cols %}
						<th>{{ col.text }}</th>
					{% endfor %}
				</tr>
				{% endif %}
			</thead>
			<tbody>
				{% for row in body.rows %}
					<tr{% if row.invisible %} style="display:none;"{% endif %}>
						{% for col in row.cols %}
							<td>
								{% for text in col.texts %}
									<div class="widget-table-col-line">
										{{ text|safe }}
									</div>
								{% endfor %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				{% if showalllink %}
						<tr class="widget-table-showmore-button">
							<td colspan="42"><!-- 42 for da lulz -->
								{{ showalllink.buttontext|safe }}
							</td>
						</tr>
				{% endif %}
				<tr class="widget-table-noentriesmessage">
					<td colspan="42" class="text-center"{% if not norowvisible %} style="display:none;"{% endif %}><!-- 42 for da lulz -->
						No entries with these filters.
					</td>
				</tr>
				{% if pagination %}
					<tr>
						<td colspan="42" class="text-center"><!-- 42 for da lulz -->
							{% include "widgets/pagination.html" %}
						</td>
					</tr>
				{% endif %}
			</tfoot>
		</table>
	</div><!-- table-responsive -->
</div><!-- widget-table -->
