<div class="widget-textinput form-group{% if error %} has-error{% endif %}">
{% if label %}
<label for="{{ id }}" class="control-label">{{ label }}{% if required %}<span class="asteriskField">*</span>{% endif %}</label>
{% endif %}
<input {% if required %}required="required" {% endif %}type="{% if type %}{{ type }}{% else %}text{% endif %}" class="form-control{% if small %} form-control-small{% endif %}" id="{{ id }}" name="{{ id }}" value="{{ value|default_if_none:'' }}" autocomplete="off"{% if placeholder %} placeholder="{{ placeholder }}"{% endif %}{% if required %} required="required"{% endif %}{% if readonly %} readonly="readonly"{% endif %}>
{% if help %}
	<p class="help-block">{{ help }}</p>
{% endif %}
</div><!-- widget-textinput -->
