<a class="twitter-timeline"
  data-widget-id="{{value.widget_id}}"
  data-tweet-limit="{{ value.tweet_limit }}"
  href="https://twitter.com/{{ value.username }}"
  data-screen-name="{{ value.username }}">
Tweets by @{{ value.username }}
</a>
{#<a class="twitter-timeline" href="https://twitter.com/ISIMIPImpacts" data-widget-id="715222550729662464">Tweets by @ISIMIPImpacts</a>#}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>